html,
body,
#root,
.mainContainer {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141f24;
  padding: 0px 22px 0px 22px;
  height: 65px;
}

.colorMenu,
.navDate {
  color: #cfd8dc;
}

.navDate {
  margin: 0 auto;
  font-size: 23px;
}

.mainContainer {
  height: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 91.8%;
}
/* Snow man */
.logo {
  background-image: url("../src/assets/logo.png");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 45%;
  height: 310px;
  width: 30%;
}

.homeText {
  font-size: 140%;
  color: #7dcbc4;
}

/* Add button - right-bottom-corner */
.addItem {
  height: 75px;
  width: 75px;
  border: 0;
  color: #f8fcfb;
  background: #3ba497;
  border-radius: 100%;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
  position: absolute;
  bottom: 47px;
  right: 52px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

/* Search Form */
.searchBar {
  display: flex;
  flex-direction: row;
  background: #3ba497;
  box-sizing: border-box;
  width: 50%;
  min-height: 110px;
  padding: 34px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  margin-top: -25px;
}

.fa-search {
  color: #cfd8dc;
  margin-right: -28px;
  margin-left: 20px;
}
.searchBar input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #cfd8dc;
  padding-left: 45px;
  color: #cfd8dc;
  font-size: 25px;
  padding-bottom: 4px;
}

.searchBar input::placeholder {
  color: white;
  opacity: 0.3;
}
.searchBar input:focus {
  outline: none;
}

.searchResults {
  width: 50%;
  opacity: 0.9;
}
.searchResults ul {
  background: white;
  margin: 0;
  list-style: none;
  padding: 0;
}

.searchResults li {
  color: #8e9496;
  padding: 17px;
  font-size: 20px;
  padding-left: 31px;
  border-bottom: 2.3px solid #e7eaed;
  cursor: pointer;
}

.searchLayer {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 65px;
  bottom: 0;
}

.searchBottom {
  height: 100px;
  width: 50%;
  background-color: #cfd8dc;
  border-radius: 0px 0px 5px 5px;
}

/* Results */

.results {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 17px;
  padding-right: 17px;
  list-style: none;
}

.resultsBox {
  cursor: pointer;
  border-radius: 5px;
  height: 301px;
  color: white;
  width: 300px;
  margin: 4px;
  margin-top: 20px;
}

.circle-divider {
  border-radius: 100%;
  font-size: 6px;
  position: absolute;
  margin-top: 11px;
  display: inline-block;
  background: white;
  height: 2px;
  width: 2px;
}
.resultsHead {
  text-align: center;
}
.resultsHead .resultName:first-child {
  padding-right: 10px;
}

.resultsHead .resultName:nth-of-type(2) {
  padding-left: 10px;
  padding-right: 10px;
}
.resultsHead .resultName:nth-of-type(3) {
  padding-left: 10px;
}

.resultsHeader {
  display: flex;
  justify-content: center;
  word-spacing: 2em;
  font-size: 23px;
  padding: 0.4em;
  background: #f7412d;
}

.resultsTopDiv {
  display: flex;
  justify-content: space-around;
}

.resultsLeftSideDiv {
  background: blue;
  padding: 2em;
  display: flex;
  flex-direction: inherit;
}

.resultsLeftLeftSide {
  background: red;
  display: flex;
  justify-content: center;
}

.resultsLeftRightSide {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultsRightTopSide {
  background: pink;
  padding: 2em;
  display: flex;
  flex-direction: inherit;
}

.resultsBottomDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  font-size: 22px;
}

.hours {
  display: flex;
  justify-content: space-around;
  word-spacing: 8em;
  width: 100%;
  background: red;
}
.halfDay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: blue;
}
