header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141f24;
  padding: 0px 22px 0px 22px;
  height: 65px;
}

.colorMenu, .navDate{
  color: #cfd8dc;
}

.navDate{
  margin: 0 auto;
  font-size: 23px;
}

.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11% auto;
}

/* Snow man */
.logo{
  background-image: url("../src/assets/logo.png");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 45%;
  height: 310px;
  width: 30%;
  margin: 0 auto;
}

.homeText{
  font-size: 140%;
  color: #7dcbc4;
}

/* Add button - right-bottom-corner */
.addItem {
  height: 75px;
  width: 75px;
  border: 0;
  color: #f8fcfb;
  background: #3ba497;
  border-radius: 100%;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
  position: absolute;
  bottom: 47px;
  right: 52px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}


/* Search Form */
.searchBar {
  display: flex;
  flex-direction: row;
  background: #3ba497;
  box-sizing: border-box;
  width: 50%;
  min-height: 110px;
  padding: 34px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  margin-top: -25px;
}



.fa-search{
  color: #cfd8dc;
  margin-right: -28px;
  margin-left: 20px;
}
.searchBar Input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #cfd8dc;
  padding-left: 45px;
  color: #cfd8dc;
  font-size: 25px;
  padding-bottom: 4px;
}

.searchBar Input::placeholder { 
  color: white;
  opacity: 0.3;
}
.searchBar Input:focus{
  outline: none;
}

.searchResults{
  width: 50%;
  opacity: 0.9;
}
.searchResults ul {
  background: white;
  margin: 0;
  list-style: none;
  padding: 0;
}

.searchResults li {
  color: #8e9496;
  padding: 17px;
  font-size: 20px;
  padding-left: 31px;
  border-bottom: 2.3px solid #e7eaed;
  cursor: pointer;
}

.searchLayer {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 750px;
}

.searchBottom{
  height: 100px;
  width: 50%;
  background-color: #cfd8dc;
  border-radius: 0px 0px 5px 5px; 
}